# Byte-compiled / optimized / DLL files
__pycache__/
alarm-clock-raspberry/__pycache__/
*.py[cod]
*$py.class

# Settings/credentials files
esp-general/credentials.h
alarm-clock-raspberry/settings.py

# Folders that will be generated at runtime
arduino-upload/*