// WiFi credentials
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// Room sensor
#define ROOM_SENSOR_SERVER_POST_URL "https://example.com"
#define ROOM_SENSOR_ROOM_NAME "roomname"

// Coffee machine
#define GET_PLUG_1_Off_URL "192.168.0.1/cm?cmnd=Power%20Off"
#define GET_PLUG_1_On_URL "192.168.0.1/cm?cmnd=Power%20On"
#define GET_PLUG_2_Off_URL "192.168.0.1/cm?cmnd=Power%20Off"
#define GET_PLUG_2_On_URL "192.168.0.1/cm?cmnd=Power%20On"
#define COFFEE_MACHINE_MAKE_COFFEE_URL "https://example.com"
#define COFFEE_MACHINE_CHECK_STATE_URL "https://example.com"
#define COFFEE_MACHINE_SERVER_AUTHENTICATION_CODE "***"